.lead {
    margin: 0 auto;
    padding-top: 56px;
}

@media screen and (min-width: 1280px) {
    .lead {
        padding-top: 56px;
        max-width: calc(100% - 148px * 2);
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-top: 48px;
        max-width: calc(100% - 48px * 2);

    }
}

@media screen and (max-width: 768px) {
    .lead {
        min-width: 768px;
        padding-top: 48px;
        max-width: 100%;
    }

}

@media screen and (max-width: 320px) {
    .lead {
        min-width: 320px;
        padding-top: 48px;
        max-width: 100%;
    }
}