.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  text-underline-offset: 4px;
  margin: 0;
}

.place__link:hover {
  opacity: 0.8;
  transition: all .1s ease-in;
}