.cover__overlay {
    width: 100%;
    min-height: 740px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 0;
}

@media screen and (max-width: 1280px) {
    .cover__overlay {
        min-height: 740px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}


@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}

.cover__overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}

.cover__overlay:hover {
    background: #2A2C2F;
    opacity: 0.8;
    transition: all .1s ease-in;
}